.wrapper {
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;

}

.logo {
    width: 36px;
}

.pic {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    background-color: aquamarine;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: row;
}