.list {
  height: 100%;
  max-width: 1200px;

  padding: 25px;
  padding-top: 40px;
  box-sizing: border-box;
}

.files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.file {
  width: 250px;

  svg {
    height: 50px;
  }
}

h2 {
  margin-bottom: 20px;
}

.qr {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
