.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.wrapper:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}